/Lab1/.vs
/Lab1/AI_LAB_1/.vs
/Lab1/AI_LAB_1/packages

/Lab1/AI_LAB_1/AI_LAB_1/bin
/Lab1/AI_LAB_1/AI_LAB_1/obj

/Lab2/.vs
/Lab2/AI_LAB_2/.vs
/Lab2/AI_LAB_2/packages

/Lab2/AI_LAB_2/AI_LAB_2/bin
/Lab2/AI_LAB_2/AI_LAB_2/obj